<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.Id}}</td> 
        <td>{{item.Name}}</td>
        <td>{{item.WeeklyTotal}}</td>
        <td>{{item.WeeklyAvg}}</td>
        <td> <a [routerLink]="['/timesheet', item.Id]" >View</a></td>
      
    </tr>
</table>