<h3> New timesheet</h3>
<form [formGroup]="timesheetForm" (ngSubmit)="AddTimesheet()">
   <div class="col-lg-6">
       
      <div class="form-group">
          <label style="width:100%" class="col-sm-4  control-label">Select Week</label>
          <div class="input-group form-control" data-toggle="tooltip" title="Week">
            <select formControlName="WeekID" class="form-control">
    
              <option *ngFor="let p of weeks" [value]="p.Id">{{p.Name}}</option>
            </select>
          </div>
    
    
        </div>
        <div class="form-group">
            <label style="width:100%" class="col-sm-4  control-label">Select Task</label>
            <div class="input-group form-control" data-toggle="tooltip" title="Task">
              <select formControlName="TaskID" class="form-control">
      
                <option *ngFor="let p of tasks" [value]="p.Id">{{p.Name}}</option>
              </select>
            </div>
      
      
          </div>
        
          <div class="form-group hide">
              <label for=""><b>Sunday</b></label>
              <input type="number"   min="1" max="8"  class="form-control" formControlName="EmployeeID"/>
              
              
          </div>
  <div class="form-group">
      <label for=""><b>Sunday</b></label>
      <input type="number"   min="1" max="8"  class="form-control" formControlName="Sunday"/>
      
      
  </div>
  <div class="form-group">
      <label for=""><b>Monday</b></label>
      <input type="number"  min="1" max="8" class="form-control" formControlName="Monday"/>
      
  </div>
  <div class="form-group">
      <label for=""><b>Tuesday</b></label>
      <input type="number"  min="1" max="8"  class="form-control" formControlName="Tuesday"/>
      
  </div>
  <div class="form-group">
      <label for=""><b>Wednesday</b></label>
      <input type="number"   min="1" max="8" class="form-control" formControlName="Wednesday"/>
      
  </div>
  <div class="form-group">
      <label for=""><b>Thursday</b></label>
      <input type="number"   min="1" max="8" class="form-control"formControlName="Thursday"/>
     
  </div>

  <div class="form-group">
    <button type="submit"   min="1" max="8"  class="btn btn-primary" [disabled]="!timesheetForm.valid">Submit</button>
  </div>
   </div>
      
</form>