<div [formGroup]='EmployeeForm'>
    <div class="col-sm-12 col-md-3 ">
      <div class="form-group">
        <label style="width:100%" class="col-sm-4  control-label">Select Employee</label>
        <div class="input-group form-control" data-toggle="tooltip" title="Employee">
          <select formControlName="ddlEmployee" class="form-control" (change)="changeEmployee($event.target.value)">
  
            <option *ngFor="let p of employees" [value]="p.Id">{{p.Name}}</option>
          </select>
        </div>
  
  
      </div>
    </div>
  
    <div class="col-sm-12 col-md-3 ">
      <div class="form-group">
        <label style="width:100%" class="col-sm-4  control-label">Select Week</label>
        <div class="input-group form-control" data-toggle="tooltip" title="Week">
          <select formControlName="ddlWeek" class="form-control" (change)="changeWeek($event.target.value)">
  
            <option *ngFor="let p of weeks" [value]="p.Id">{{p.Name}}</option>
          </select>
        </div>
  
  
      </div>
    </div>
  
    <br>
    <div class="row">
        <div class="col-lg-4">
            <a class="btn btn-primary btn-xs pull-right " (click)="CreateTimesheet()" ><b>+</b>  Add new car </a>
          </div>
      <div class="col-lg-12">
        <table  class="table row-border hover">
        <thead>
            <tr>
              <th>Task Name</th>
              <th>Week Name</th>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>      
              <th>Thursday</th> 
              <th>Friday</th> 
              <th>Saturday</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of timesheets">
              <td>{{t.TaskName}} </td>
              <td>{{t.WeekName}} </td>
              <th>{{t.Sunday}} </th>
              <th>{{t.Monday}} </th>
              <th>{{t.Tuesday}} </th>
              <th>{{t.Wednesday}} </th>      
              <th>{{t.Thursday}} </th> 
              <th>{{t.Friday}} </th> 
              <th>{{t.Saturday}} </th> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
     
        <div class="col-lg-4  pull-right">
            <a class="btn btn-default btn-xs pull-right "  routerLink="/list" > Back to list</a>
          </div>
  
  </div>
  
  